POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=dev-db
POSTGRES_PORT=5432
POSTGRES_DATABASE=stock_analytics

DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5433/stock_analytics

CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_API_KEY=
CLOUDFLARE_GATEWAY_ID=